*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

.game-container {
  display: grid;
  width: min(400px, 80vw);
  aspect-ratio: 1 / 1;
  background-color: white;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 25px
}


.cell {
  font-size: 70px;
  align-items: center;
  text-align: center;
  align-content: center;
  color: rgb(98, 96, 240);
  background-color: white
}

.cell:nth-child(3n+2) {
  border-right: 3px solid rgb(98, 96, 240);
  border-left: 3px solid rgb(98, 96, 240);
}

.cell:nth-child(n+4):nth-child(-n+6) {
  border-top: 3px solid rgb(98, 96, 240);
  border-bottom: 3px solid rgb(98, 96, 240);
}

.players-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 200px;
}

.form-pop-up {
  border-radius: 8px;
  border: 2px solid rgb(98, 96, 240);
  color: rgb(98, 96, 240);
  background-color: rgb(255, 255, 255, 0.95);
}

.mark-choice {
  display: flex;
  justify-content: space-around;
  padding: 10px 10px 20px 10px;
}

.controls {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

form>p {
  padding-top: 20px;
}


.p1-box,
.p2-box {
  width: 100%;
  max-width: 146.815px;
  color: rgb(98, 96, 240);
  font-size: 18px;
}

.p1-para,
.p2-para {
  font-size: 26px;
}

.btn {
  cursor: pointer;
  position: relative;
  padding: 10px 10px;
  font-size: 18px;
  color: rgb(98, 96, 240);
  border: 2px solid rgb(98, 96, 240);
  border-radius: 12px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
  max-width: 120px;
  width: 100%;
}

.btn::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(98, 96, 240);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.btn:hover::before {
  scale: 3;
}

.btn:hover {
  color: white;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
}

.btn:active {
  scale: 1;
}

.turn-popup,
.win-popup {
  display: none;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(98, 96, 240, 0.8);;
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
  font-size: 18px;
  text-align: center;
  z-index: 1000;
}


.btn-form {
  background-color: white;
  color: rgb(98, 96, 240);
  border: 1px solid rgb(98, 96, 240);
  border-radius: 8px;
  box-shadow: 0 0.2px 0 rgb(98, 96, 240);
  transition: all 0.1s ease;
  position: relative;
}

.btn-form:active {
  transform: translateY(2px);
  box-shadow: 0 0 0 rgb(98, 96, 240);
}

input {
  color: rgb(98, 96, 240);
  border-radius: 5px;
  border: 1px solid rgb(98, 96, 240);
}